.carousel-content {
    position: absolute;
    top:25%;
    left: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    display: table;

    
    
    
  }

  
  .btn0{
    font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #503928 ; color: white; border: transparent;
  }
  .btn3{
    font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #503928 ; color: white; border: transparent;
    position: absolute;
    
  }
  body{
    background-image: url(bg\ body.png);
  }



  .ccbutton{
    margin-top: 50px;
  }

  .btn0:hover{
    background-color: white !important;
    color: #503928 !important;
    border:solid 1px #503928 !important;
  }
  .btn3:hover{
    background-color: white !important;
    color: #503928 !important;
    border:solid 1px #503928 !important;
  }

  .btn1:hover{
    background-color: white !important;
    color:#503928 !important;
  }

  .btn2:hover{
    background-color: #503928 !important;
    color: white !important;
  }


  /* if css is given inline then hover effect will not work externally we have to mark it !important  */

  .carousel-content2{
    position: absolute;
    top:25%;
    left: 50%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    
    
    
  }
  .carousel-content2 i{
    font-size: 20px;
  }
  .carousel-content2 h1{
    font-size: 100px;
  }

  .sec1{
    
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    display: table;
  }

  .section2{
    background-color:#090c0f ;
    padding-top: 100px;
    
  }
  .section1 a{
    font-size: 20px;

  }

 

  .part1 h4{
    color: #52443a;
    
  }

  .part1 h1{
    color: white;
    
  }

  .part1 p{
    color: white;
    
  }
 
  .container1{
    margin-top: 35px;
    display: flex;
    padding: 20px;
    position: relative;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    background: #b99272;
    border-radius: 5px;
    
  }
  .container1 img{
    padding-right: 5px;
    
  }

  .part3 img{
    height: 300px;
    width: 400px;
    opacity: 0.4;
    

  }
  .part3{
    position: relative;
  }

  .disc{
    
    position: absolute;
    top: 50%;
    left: 10%;
    
    
  }
  .disc h2{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

  }
  
  .disc1{
    
    position: absolute;
    top: 50%;
    left: 20%;
    
    
  }
  .disc1 h2{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

  }

  .disc3 h2{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

  }

 
  .disc3{
    position: absolute;
    top: 50%;
    left: 20%;
  }

  .section3{
    padding-top: 100px;
  }

  .section4{
    padding-top: 100px;
       
  }

  .section4 h1{
    color: white;
    text-align: center;
  }

  .section4 h4{
    color: #b99272;
    text-align: center;
  }
  .coffee1 img{
    width: 200px;
    height: 200px;
    object-fit: cover;

    
  }

  .part1-sec4{
    background-color:#090c0f;
    background-image: url(bg\ sec3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 465px auto;
 margin-bottom: 100px;
    
  }
  .coffee1{
    display: flex;
    
  }
  .coffee1-content{padding-left: 20px;}
  
  .coffee1-content h3{
     color: #ffffff;
     float: left;
  }
  .coffee1-content .p1{
    color: lightgrey;
    float: left;
  }
  .coffee1-content .p2{
    color: rgb(254, 196, 206);
    float: left;
  }

  .part1-sec5 img{
    
    height: 600px;
    width: 500px;
    object-fit:cover ;

  }
  .section5{
    margin-top: 100px;
    background-color: #090c0f;
    position: relative;

  }
  .section5 .bgicon{
    position: absolute;
    left: 30%;
    
    
  }


.part2-sec5{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
.part2-sec5 h5{
 color:  #b99272;
 margin-bottom: 10px;
  
}
.part2-sec5 p{
 color: rgb(132, 126, 126);
 margin-bottom: 20px;
}
.part2-sec5 h1{
  color: white;
  margin-bottom: 10px;
}

.icona{
  display: flex;
  margin-bottom: 50px;
}
.iconb{
  display: flex;

}
.icon1{
  padding-right: 40px;
}

.icon2{
  padding-right: 40px;
}
.icona .icon1 img{
  width: 69px;
  
}

.iconb .icon2 img{
  width: 69px;
  
}
.icon1-content h3{
  color: white;
}


.icon2-content h3{
  color: white;
}


#oc img{
  height: 500px; width: 450px; object-fit: cover;
  position: relative;
}
#oc2 img{
  height: 500px; width: 370px; object-fit: cover;
  position: relative;

}



.section6{
  padding-top: 100px;
  background-color: #212529;
  

}
.section7{

  padding-top: 100px;
  background-color:#090c0f;

}





.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}



.text-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img2:hover .image {
  opacity: 0.3;
}

.img2:hover .text-box {
  opacity: 1;
}

.text {
  
  color: white;
  font-size: 16px;
  
}
.parta h6{
  color: #6f5b4c;
  text-align: center;

  font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: #b99272;
}

.partb h1{
  font-size: 42px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.review-img img{
  height: 100px;
  width: 100px !important;
  border-radius: 200px;
  margin: 0 auto;
  
}
.stars{
  display:flex;
  margin: 0 auto;
  display: table;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.review-content{
  background-color:#212529;
  padding: 30px;
  margin-top: -40px;
  
}
.review-content p{
  color: rgb(167, 161, 161)
  ;
}
.review-content h3{
  color: white;

}

.section8{
  background-color: #212529;

}
.numbers{
  display:flex;
}
.numbers-content{
  padding-left: 20px;
  padding-top: 15px;
}

.numbers h1{
  color: #b99272;
}
.numbers-content h5{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.numbers-content p{
  color: rgb(188, 182, 182);
}

.partc h6{
  color: #6f5b4c;
  text-align: center;

  font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: #b99272;
}

.partd h1{
  font-size: 42px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.section9{

  padding-top: 100px;
  background-color:#090c0f;
  padding-bottom: 50px;

}
.parte-img img{
  height:415px ;
  width:420px ;
  object-fit: cover;
  opacity: 0.5;
  
  
}

.parte-img img:hover{
 
  opacity: 0.9;
  transition: .5s ease;
  
  
}

.parte-content{
  position: absolute;
  top: 75%;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;

  font-weight: 400;
 
  color: #fff;
  line-height: 1.3;
  
}
.parte-img{
  position: relative;
}


.parallax {
 
  background-image: url(aboutwall1.png);
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.parallax9 {
 
  background-image: url(aboutwall1.png);
  min-height: 600px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.parallax1 {
 
  background-image: url(wall4.png);
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.partf h1{
  font-size: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 400;
  
}

.partf h6{
  color: #6f5b4c;
  

  font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .03em;
    color: #b99272;
}

.partg-icons{
  
  margin-top: 30px;
  
}
.partg-icons a{
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  
  background-color: grey;
  
}
.partg-icons a:hover{
  background-color: #b99272;
  border: transparent;
  color: white;

}
.partg-icons i:hover{
  background-color: #b99272;
  
  color: white;

}
.partg-icons1{
  
  margin-top: 10px;
  
}
.partg-icons1 a{
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 100px;
  display: block;
  height: 36px;
  margin-right: 5px;
  background-color: grey;
  
}
.partg-icons1 a:hover{
  background-color: #b99272;
  border: transparent;
  color: white;

}
.partg-icons1 i:hover{
  background-color: #b99272;
  
  color: white;

}
.partg-logo img{
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.section11{

  padding-top: 50px;
  background-color:#ffffff;
  padding-bottom: 50px;

}


.partg-content{
  padding-top: 30px;
  color: gray;
}
.parth h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #090c0f;
  margin-bottom: 70px;
  margin-top: 30px;
  font-weight: 900;

}
.parth li{
  color: #503928;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}
.parth p{
color: #503928;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parti h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #090c0f;
  margin-bottom: 70px;
  margin-top: 30px;
  font-weight: 900;

}


.parti-conic1 i{
  color: #503928;
  padding-right: 20px;
  list-style: none;
}
.conic1-content h6{
  color: #2b1f17;
  
}
.partj h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #090c0f;
  margin-bottom: 70px;
  margin-top: 30px;
  font-weight: 900;

}
.partj-img1{
  
  padding-bottom: 5px;
}
.partj-img1 img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  
}
.drop1:hover{
  background-color:#2b1f17;
  color: white;
}
.i1{
  margin-right: 2px;
}

.carousel-content2{
  font-size: 100px;
}
.brand img{
  height: 100px; width: 200px; object-fit: cover;
}





@media screen and (max-width: 576px) { 
  

  .carousel-content2{
    width: 100px;
    align-items:center;
  }

  .part1-sec5 img{
    width: 250px;
    height: 100px;
  }

  .part2 img{
    display: none;
  }
  
  .part3 img{
    width: 300px;
    height: 200px;
    
  }

  .disc{
    position: absolute;
    top: 50%;
    left: 20%;
  }
  .sec1p1 {
    text-align: center;
  }

  .disc1{
    position: absolute;
    top: 50%;
    left: 20%;
  }

  .disc3{
    position: absolute;
    top: 50%;
    left: 20%;

  }
.disc h2 {
  font-size: 20px;


}
.disc1 h2 {
  font-size: 20px;

}
.disc2 h2 {
  font-size: 20px;

}
.container1{
  font-size: 14px;
}

.part1-sec4{
  text-align: center;
}

  .parte-img img{
    height:215px ;
    width:220px ;
    object-fit: cover;
    opacity: 0.5;
    
    
    
  }
  
  .parte-img img:hover{
   
    opacity: 0.9;
    transition: .5s ease;
    
    
  }
 


  .parte-content{
    position: absolute;
    top: 55%;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    font-size: 14px;
    left: 20%;
  
    
   
    color: #fff;
    line-height: 1.3;
    
  }
  .parte-img {
    position: relative;
  }
  
  .carousel-content {
    position: absolute;
    top:10%;
    left: 2%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    
    
    margin: 0 auto;
    display: table;

    
    
    
  }
  .carousel-content h1{
    font-size: 20px !important;
  }
  .carousel-content h6{
    font-size: 10px !important;
  }
  .carousel-content2 h1{
    font-size: 20px !important;
  }
  .carousel-content2 i{
    font-size: 10px;
  }

  .ccbutton button{
    width: 90px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
   

  }
  .ccbutton{
    margin: 0px;
  }

  .carousel-content2{
    position: absolute;
    top:5%;
    left: 40%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    width: 500px;
    height: 10px;
    font-size: 14px !important;

    
    
    
  }
  

  .part3 img{
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

 
 
 .coffee1{
  display: block;
 }
 .coffee1 img{
  width: 100px;
  height: 100px;
 }
 .coffee1-content{
  text-align: center;
  justify-content: center;

 }
 .coffee1-content h3{
  text-align: center;
 }
 .coffee1-content p{
  text-align: center;
 }
  #oc img{
    width: 300px;
    height: 400px;
  }

 .abparallax h1{
  font-size: 50px !important;
 }

 .part2-sec5 {
  text-align: center;

 }
 .parta h6{
  font-size: 14px;
  padding-top: 50px;
 }
 .partb h1{
  font-size: 20px;
 }
 .partd h1{
  font-size: 20px;
 }
 .partf h1{
  font-size: 20px;
 }
 .btn1{
  width: 100px;
  height: 40px;
  font-size: 10px !important;
 }
 .count1{
  padding: 0px;
  text-align: center;
 }
 .part2-sec5 p{
  text-align: center;
  font-size: 14px;
 }
 .about1 h4{
  text-align: center;
 }
 .about1 h1{
  text-align: center;
 }
 .about1 p{
  text-align: center;
 }
 .part1-sec5 img{
  display: none;
 }
.part1-sec5{
  padding-top: 0px !important;
}
 .part2-sec5 h5{
  text-align: center;
  font-size: 14px;

 }
 .part2-sec5 h1{
  text-align: center;
  font-size: 14px;
}
 .icona{
  display: block;
 }
 .iconb{
  display: block;
 }
 .icon1{padding-right: 0px;}
 .icon2{padding-right: 0px;}
 .section-4{
  display: none;
 }
 .section7{
  padding-top: 0px;
 }
 /* #oc2 img{
  width: 330px !important
  ;
 } */
 .review-content{
  text-align: center;




 }
 .brand img
 {
  height: 50px; width: 100px; object-fit: cover;
}







  

  .sec-3team1{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }
  .sec-3team2{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }

  .sec-3team3{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }

  .sec-3team4{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }


  .sec13 img{
    display: none;
  }
 

  .sec13{
    max-width: 500px !important;
  }

 



  .sec-12 h1{
    text-align: left;

  }
  .sec-12 h4{
    text-align: left;
  }

 .nav-link{
  margin-bottom: 5px;
 }

 .din1 img{
  display: none;
 }
 .din2 img{
  display: none;
 }

 .form1 input{
  width: 150px !important;
}
.form1 select{
  width: 150px !important;
}
.b3{
  padding-left: 0px !important;
}





 .history2 img
{
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;

}


.history3{
  background-color:#212529;
  color:white;
  height: 350px !important;
  padding: 0px !important;
  text-align: center;
}

.form2 input{
  width: 300px !important;
  height: 50px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.form3 input{
  width: 300px !important;
  height: 50px !important;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.form4 textarea{
  width: 300px !important;
  height: 100px !important;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}
}

@media  (min-width: 412px) and (max-width: 576px) { 
  .carousel-content2{
    width: 100px;
    align-items:center;
  }

  .part1-sec5 img{
    width: 250px;
    height: 100px;
  }

  .part2 img{
    display: none;
  }
  
  .part3 img{
    width: 300px;
    height: 200px;
    
  }

  .disc{
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .disc1{
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .disc3{
    position: absolute;
    top: 50%;
    left: 30%;

  }
.disc h2 {
  font-size: 20px;


}
.disc1 h2 {
  font-size: 20px;

}
.disc2 h2 {
  font-size: 20px;

}
.container1{
  font-size: 14px;
}



  .parte-img img{
    height:215px ;
    width:220px ;
    object-fit: cover;
    opacity: 0.5;
    
    
    
  }
  
  .parte-img img:hover{
   
    opacity: 0.9;
    transition: .5s ease;
    
    
  }
 


  .parte-content{
    position: absolute;
    top: 55%;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    font-size: 14px;
    left: 30%;
  
    
   
    color: #fff;
    line-height: 1.3;
    
  }
  .parte-img {
    position: relative;
  }
  
  .carousel-content {
    position: absolute;
    top:10%;
    left: 2%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    
    
    margin: 0 auto;
    display: table;

    
    
    
  }
  .carousel-content h1{
    font-size: 20px !important;
  }
  .carousel-content h6{
    font-size: 10px !important;
  }
  .carousel-content2 h1{
    font-size: 20px !important;
  }
  .carousel-content2 i{
    font-size: 10px;
  }

  .ccbutton button{
    width: 90px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    padding-top: 0px;
   

  }
  .ccbutton{
    margin: 0px;
  }

  .carousel-content2{
    position: absolute;
    top:5%;
    left: 40%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    width: 500px;
    height: 10px;
    font-size: 14px !important;

    
    
    
  }
  

  .part3 img{
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

 
 
 .coffee1{
  display: block;
 }
 .coffee1 img{
  width: 100px;
  height: 100px;
 }
  #oc img{
    width: 300px;
    height: 400px;
  }

 .abparallax h1{
  font-size: 50px !important;
 }

 .part2-sec5 {
  text-align: center;

 }
 .part1-sec5 img{
  display: none;
 }

 .part2-sec5 h5{
  text-align: center;

 }
 .icona{
  display: block;
 }
 .iconb{
  display: block;
 }
 .icon1{padding-right: 0px;}
 .icon2{padding-right: 0px;}
 .section-4{
  display: none;
 }
 .section7{
  padding-top: 0px;
 }
 /* #oc2 img{
  width: 330px !important
  ;
 } */
 .review-content{
  text-align: center;



 }






  

  .sec-3team1{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }
  .sec-3team2{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }

  .sec-3team3{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }

  .sec-3team4{
    margin-bottom: 100px;
    margin-right: 10px !important;
  }


  .sec13 img{
    display: none;
  }
  
  .sec13{
    max-width: 500px !important;
  }

 

 
  .sec-12 h1{
    text-align: left;

  }
  .sec-12 h4{
    text-align: left;
  }

 .nav-link{
  margin-bottom: 5px;
 }

 .din1 img{
  display: none;
 }
 .din2 img{
  display: none;
 }







 .history2 img
{
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;

}


.history3{
  background-color:#212529;
  color:white;
  height: 350px !important;
  padding: 0px !important;
  text-align: center;
}
.form4 textarea{
  width: 300px !important;
  height: 100px !important;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}


}


  @media  (min-width: 576px) and (max-width: 768px) { 
  
    .nav-link{
      margin-bottom: 5px;
     }

    
    .carousel-content2{
      width: 100px;
      align-items:center;
    }
  
    .part1-sec5 img{
      width: 250px;
      height: 100px;
    }
  
    .part2 img{
      width: 300px;
      height: 200px;
    }
    
    .part3 img{
      width: 300px;
      height: 200px;
      
    }
  
 
  
  
  
    .parte-img img{
      height:215px ;
      width:220px ;
      object-fit: cover;
      opacity: 0.5;
      
      
      
    }
    
    .parte-img img:hover{
     
      opacity: 0.9;
      transition: .5s ease;
      
      
    }
   
  
  
    .parte-content{
      position: absolute;
      top: 55%;
      color: white;
      
      font-family: Arial, Helvetica, sans-serif;
      width: 150px;
      font-size: 14px;
      left: 35%;
    
      
     
      color: #fff;
      line-height: 1.3;
      
    }
    .parte-img {
      position: relative;
    }
    .carousel-content {
      position: absolute;
      top:10%;
      left: 2%;
      z-index: 20;
      color: white;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
  
      
      
      margin: 0 auto;
      display: table;
  
      
      
      
    }
    .carousel-content h1{
      font-size: 50px !important;
    }
    .carousel-content h6{
      font-size: 10px !important;
    }
    .carousel-content2 h1{
      font-size: 50px !important;
    }
    .carousel-content2 i{
      font-size: 10px;
    }
  
    .ccbutton button{
      width: 90px;
      height: 30px;
      font-size: 10px;
      text-align: center;
      padding-top: 0px;
     
  
    }
    .ccbutton{
      margin: 20px;
    }
  
    .carousel-content2{
      position: absolute;
      top:5%;
      left: 40%;
      z-index: 20;
      color: white;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
      width: 500px;
      height: 10px;
      font-size: 50px !important;
  
      
      
      
    }
    .form1 input{
      width: 100px !important;
    }

    .disc{
      left: 35%;
    }
    .disc1{
      left: 35%;
    }
    .disc3{
      left: 35%;
    }
  
 

  
    .part3{
      margin-bottom: 10px;
    }
   
   .coffee1{
    display: block;
   }

   #oc img{
    height: 500px; width: 700px; object-fit: cover;
    position: relative;
  }
  .part2-sec5 {
    text-align: center;
  
   }
   .part1-sec5 img{
    display: none;
   }
   .section-4{
    display: none;
   }
   .section7{
    padding-top: 0px;
   }
   #oc2 img{
    width: 700px;
   }
   
  .sec13 img{
    display: none;
  }
  .form4 textarea{
    width: 367px !important;
    height: 100px !important;
    border-radius: 5px;
    background-color: #090c0f;
    border: 1px solid #212529;
    color: white;
    font-size: 17px;
    padding-left: 20px;
  }
  .form3 input{
    width: 367px !important;
    height: 50px !important;
    border-radius: 5px;
    background-color: #090c0f;
    border: 1px solid #212529;
    color: white;
    font-size: 17px;
    padding-left: 20px;
  }

  
  
    }



    @media (min-width: 768px) and (max-width: 992px) { 



      .form4 textarea{
        width: 367px !important;
        height: 100px !important;
        border-radius: 5px;
        background-color: #090c0f;
        border: 1px solid #212529;
        color: white;
        font-size: 17px;
        padding-left: 20px;
      }
      .form3 input{
        width: 367px !important;
        height: 50px !important;
        border-radius: 5px;
        background-color: #090c0f;
        border: 1px solid #212529;
        color: white;
        font-size: 17px;
        padding-left: 20px;
      }
    
  

      .carousel-content {
        position: absolute;
        top:10%;
        left: 2%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    
        
        
        margin: 0 auto;
        display: table;
    
        
        
        
      }
      .carousel-content h1{
        font-size: 50px !important;
      }
      .carousel-content h6{
        font-size: 10px !important;
      }
      .carousel-content2 h1{
        font-size: 50px !important;
      }
      .carousel-content2 i{
        font-size: 10px;
      }
    
      .ccbutton button{
        width: 150px;
        height: 35px;
        font-size: 14px;
        text-align: center;
        padding-top: 0px;
       
    
      }
      .ccbutton{
        margin-top: 100px;
      }
    
      .carousel-content2{
        position: absolute;
        top:20%;
        left: 50%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        width: 500px;
        height: 10px;
        font-size: 50px !important;
    
        
        
        
      }
  
    
      .part1-sec5 img{
        width: 250px;
        height: 100px;
      }
    
      .part2 img{
        width: 300px;
        height: 200px;
      }
      
      .part3 img{
        width: 300px;
        height: 200px;
        
      }
    
      .disc{
        position: absolute;
        top: 50%;
        left: 35%;
      }
    
      .disc1{
        position: absolute;
        top: 50%;
        left: 35%;
      }
    
      .disc3{
        position: absolute;
        top: 50%;
        left: 35%;
    
      }
    
    
    
    
      .parte-img img{
        height:215px ;
        width:220px ;
        object-fit: cover;
        opacity: 0.5;
        
        
        
      }
      
      .parte-img img:hover{
       
        opacity: 0.9;
        transition: .5s ease;
        
        
      }
     
    
    
      .parte-content{
        position: absolute;
        top: 55%;
        color: white;
        
        font-family: Arial, Helvetica, sans-serif;
        width: 150px;
        font-size: 14px;
        left: 40%;
      
        
       
        color: #fff;
        line-height: 1.3;
        
      }
      .parte-img {
        position: relative;
      }
      
      .carousel-content {
        position: absolute;
        top:10%;
        left: 2%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    
        width: 500px;
        height: 5px;
        
        margin: 0 auto;
        display: table;
    
        
        
        
      }
    
    
      
    
      .part3{
        margin-bottom: 10px;
      }
      
     .coffee1{
      display: block;
     }
      
     #oc img{
      height: 500px; width: 900px; object-fit: cover;
      position: relative;
    }
    .part2-sec5 {
      text-align: center;
    
     }

     .section-4{
      display: none;
     }
     .section7{
      padding-top: 0px;
     }
     #oc2 img{
      width: 800px;
     }
     
    
      }


      /*About.html*/
      .abparallax h1{
        font-size: 100px;


      }

      .bc li{
        color: white !important;
      }
      .bc a{
        color: white !important;
      }

      .section-1{
        background-color: #090c0f;
      }
      .sec1p1 img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 20px;
      }

      .sec1p1 h1{
           color: #b99272;
      }
  .sec1p1 p{
    color: rgb(136, 130, 130);
  }
.section-2{
  background-color: #212529;
  padding-top: 100px;
  padding-bottom: 20px;
}

.video iframe{
  height: 500px;
  width: 1000px;
}

.about-sec2{
  background-color: #090c0f;
  
}

.sec1p2 img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}
.section-3{
  background-color:#1f2427;
  padding-bottom: 100px;
}









.img-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  color: white;
}

.icons{
  position: absolute;
  
  bottom: 0;
  left: 15%;
  right: 0;
  margin-bottom: 20px;
  
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  
  color: white;
}
.icons a{
  margin-right: 5px;
}


.img-description1{
  position: absolute;
  top: 9%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  
}


.team1:hover .img-description {
  visibility: visible;
  opacity: 1;
}


.team1:hover .img-description1 {
  visibility: visible;
  opacity: 1;
}
.team1:hover .icons {
  visibility: visible;
  opacity: 1;
}


.img3:hover{
  opacity: 0.4 !important;
}
.sec-3team1 p{
   height: 2px;
}










.team1{
  position: relative;
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: -30px !important;

  
  margin: 0 auto;
  display: table;
}

.team1 img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
 
}


.sec-3team1{
  background-color:#090c0f;
 
  border-radius: 20px;
    margin-left: 10px;

    width: 300px;
}
.sec-3team1 p{
  font-size: 16px;
}



.section-4{
  height: 200px;
  background-color: #212529;
  padding-bottom: 100px ;
  
  
}

.sec-4 img{
  width: 170px;
    height: 160px;
    object-fit: cover;
    padding: 30px;
}
.icons{
  display: flex;
}


/* Coffee menu */

.parallax2 {
 
  background-image: url(wall5.png);
  min-height: 615px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.section12{
  padding-top: 100px;
  background-color:#090c0f;
  padding-bottom: 25px;
     
}

.section12 h1{
  color: white;
  text-align: center;
}

.section12 h4{
  color: #b99272;
  text-align: center;
}
.tab1{
  background-color: #2b1f17;
  color: white;
}









.nav-pills .nav-link.active{
  background-color:#b99272;
  color: white;
}
.nav-pills .nav-link{
  background-color: gray;
  color: white;
  margin-right: 10px;
}
.nav-pills li button{
  padding: 20px;
  width: 150px;
}
.login1 img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.sec13{
  display: flex;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #090c0f;
}

.sec13 img{
  width: 330px;
  height: 377px;
  object-fit: cover;
}
.b3{
  padding-left: 50px;
}

.sec-12{
  background-color:#090c0f;

}
.sec-12 h1{
  color: white;
  text-align: center;
}

.sec-12 h4{
  color: #b99272;
  text-align: center;
}
.section13{
  
  background-color: #212529;
     
}

.form1 input{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
}
.form1 input:hover{
  
  background-color: #ffffff;
  border: 1px solid #212529;
  color:black;
}
.form1 select{
  width: 250px ;
  height: 40px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
}







/* Restraunt menu */


.parallax3 {
 
  background-image: url(wall6.png);
  min-height: 615px;  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.section14{
  padding-top: 100px;
  background-color: #212529;
     padding-bottom: 100px;
}

.section14 h1{
  color: white;
  text-align: center;
   padding-bottom:100px ;
}

.section14 h4{
  color: #b99272;
  text-align: center;
}
.din1 img{
  height: 260px;
  width: 636px;
  object-fit: cover;
}
.din2 img{
  height: 260px;
  width:636px;
  object-fit: cover;

}



.parallax4 {
 
  background-image: url(wall7.png);
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: scroll;
}



/* restraunt */
.section15{
  background-color: #090c0f;
}

.parallax5 {
 
  background-image: url(wall11.png);
  min-height: 615px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.section16{
  background-color:#212529;
}
.heading{
  font-size: 20px;
  font-family: cursive;
  color: white;
  text-align: center;
  
}
.circle1{
  height: 100px;
  width: 100px;
 border: solid 1px grey;
  border-radius: 100px;
  position: relative;
}
.circle2 img{
  height: 90px;
  width: 90px;
  
  border-radius: 100px;
  position: absolute;
  top: 5%;
  left: 5%;
  

}
.history3{
  background-color:#212529;
  color:white;
  height: 470px;
  padding: 100px;
}
.history2 img
{
  width: 430px;
  height: 470px;
  object-fit: cover;

}
.section17{
  background-color:#090c0f
}
.pg1{
  background-color:transparent!important;
  border: none !important;
  color: gray !important;
  font-size: 40px !important;
  font-weight:400 !important;
}
.pg1:hover{
  color: #5e3e28 !important;
}

.parallax6 {
 
  background-image: url(wall12.png);
  min-height: 615px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.abparallax{
  padding-top: 200px;
}
.section18{
  background-color:#212529;
  padding-top: 100px;
}
.section18-1 img{
   width: 80px;
   height: 80px;
   object-fit: cover;
   border-radius: 40px;
   
}
.sec-18a{
  background-color:#090c0f;
  width:360px ;
  height:300px;
}
.sec-18b{
  background-color: #090c0f;
}
.form2 input{
  width: 367px;
  height: 50px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.form3 input{
  width: 1250px;
  height: 50px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}

.form4 textarea{
  width: 1250px;
  height: 300px;
  border-radius: 5px;
  background-color: #090c0f;
  border: 1px solid #212529;
  color: white;
  font-size: 17px;
  padding-left: 20px;
}
.parallax7 {
 
  background-image: url(wall13.png);
  min-height: 615px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.page1 li a{
  margin-right: 15px;
  border-radius: 5px !important ;
  border: transparent;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  background: #1f2427;
    
    color: #9ea1a2;


}

.page1{
  padding-top: 50px;
}
.page1 li a:hover{
  background-color: #503928;
  color: white;
}
.parallax8 {
 
  background-image: url(wall15.png);
  min-height: 615px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.item{
  display: flex;
}
.cu1img img{
  height: 30px; width: 30px; object-fit: cover; margin-right: 20px;
}
.cu1{
  display: flex;
}
.partg-1{
  display: flex;
}
